---
import Layout from "../../layouts/Layout.astro";
import db from "../../../staticql.config.ts";
import type { Tag } from "../../types/herbs";
import type { APIContext } from "astro";
import ListHerbsByTagItem from "../../components/ListHerbsByTagItem";
import ListHerbsByTagInfinite from "../../components/ListHerbsByTagInfinite";
import Breadcrumb, { type BreadcrumbProps } from "../../components/Breadcrumb";

export async function getStaticPaths() {
  const tags: Tag[] = await db.from("tags").exec();

  return tags.map((tag) => {
    return {
      params: { slug: tag.slug },
      props: { tag },
    };
  });
}

export function GET({ props }: APIContext) {
  return new Response(JSON.stringify({ tag: props.tag }));
}

const { tag }: { tag: Tag } = Astro.props;

const initialHerbs = (
  await db.from("herbs").where("tagSlugs", "contains", tag.slug).exec()
).map((herb) => ({
  key: herb.slug,
  displayName: herb.name,
  link: `/herbs/${herb.slug}`,
  content: herb.overview,
  updatedAt: herb.updatedAt,
}));

const offset = 6;

const newsItems = initialHerbs
  .sort(
    (a, b) => new Date(b.updatedAt).getTime() - new Date(a.updatedAt).getTime()
  )
  .splice(0, offset);

const breadCrumbItems: BreadcrumbProps["items"] = [
  { label: "Home", link: "/" },
  { label: `${tag.name}におすすめのハーブ一覧` },
];
---

<Layout>
  <div class="flex justify-center border-b-1">
    <div class="c-content my-1 text-center border-x border-vintage-ink">
      <Breadcrumb items={breadCrumbItems} />

      <h1 class="font-bold">
        {tag.name}におすすめのハーブ一覧
      </h1>
    </div>
  </div>
  <section
    class="c-content grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 sm:gap-10 p-6 sm:p-10 my-1 border-x border-vintage-in"
  >
    {newsItems.map((item) => <ListHerbsByTagItem item={item} />)}

    <ListHerbsByTagInfinite offset={offset} slug={tag.slug} client:only />
  </section>
</Layout>
