---
import Layout from "../../layouts/Layout.astro";
import define from "../../../staticql.config";
import type { APIContext } from "astro";
import ListHerbsByTagInfinite from "../../components/ListHerbsByTagInfinite";
import Breadcrumb, { type BreadcrumbProps } from "../../components/Breadcrumb";
import "../../styles/index.css";
import type { HerbsRecord, TagsRecord } from "../../types/staticql-types";
import ListItem from "../../components/ListItem";

export async function getStaticPaths() {
  const staticql = define();
  const tags = await staticql.from<TagsRecord>("tags").exec();

  return tags.map((tag) => {
    return {
      params: { slug: tag.slug },
      props: { tag },
    };
  });
}

export function GET({ props }: APIContext) {
  return new Response(JSON.stringify({ tag: props.tag }));
}

const staticql = define();
const { tag }: { tag: TagsRecord } = Astro.props;

const initialHerbs = (
  await staticql
    .from<HerbsRecord>("herbs")
    .where("tagSlugs", "contains", tag.slug)
    .exec()
).map((herb) => ({
  key: herb.slug,
  displayName: herb.name,
  images: [
    {
      path: `/images/herbs/${herb.slug}/thumbnail.webp`,
      label: herb.name,
    },
  ],
  link: `/herbs/${herb.slug}/`,
  content: herb.overview,
  updatedAt: herb.updatedAt,
}));

const offset = 6;

const newsItems = initialHerbs
  .sort(
    (a, b) => new Date(b.updatedAt).getTime() - new Date(a.updatedAt).getTime()
  )
  .splice(0, offset);

const breadCrumbItems: BreadcrumbProps["items"] = [
  { label: "Home", link: "/" },
  { label: `${tag.name}におすすめのハーブ一覧` },
];
---

<Layout>
  <div class="globalHeading">
    <div class="globalHeadingBody container">
      <Breadcrumb items={breadCrumbItems} />

      <h1 class="bold">{tag.name}におすすめのハーブ一覧</h1>
    </div>
  </div>

  <div class="index content container">
    {newsItems.map((item) => <ListItem item={item} />)}

    <ListHerbsByTagInfinite offset={offset} slug={tag.slug} client:visible />
  </div>
</Layout>
