---
import { loadAllReports } from "../../utils/loadReports";
import type { APIContext } from "astro";

export async function getStaticPaths() {
  const reports = await loadAllReports();
  return reports.map((report) => ({
    params: { id: report.groupId }, props: { report }
  }));
}

export function GET({ props }: APIContext) {
  return new Response(
    JSON.stringify({ report: props.report }),
  );
}

import Layout from "../../layouts/Layout.astro";

const { report } = Astro.props;
---

<Layout>
  <style>
    .grid-line {
      background: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 47px,
        var(--color-vintage-ink) 47px,
        var(--color-vintage-ink) 48px
      );
    }
    .note {
      line-height: 30px;
      background: conic-gradient(from 95deg at 0%, #000 1%, #0000 0%);
      background-size: 10px 30px;
      background-position: 0 12px;
    }

    progress::-moz-progress-bar {
      background: var(--color-vintage-ink);
    }
    progress::-webkit-progress-value {
      background: var(--color-vintage-ink);
    }
    progress {
      color: var(--color-vintage-ink);
    }

    .pr {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      padding: 1.5rem 0;
      margin: 3rem 0;
      border: 2px solid #000;
      border-radius: 20px;

      &::before,
      &::after {
        content: "";
        background-image: url(/ui/pr-ornament.svg);
        width: 25%;
        height: 42px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-color: var(--color-vintage-paper);
        background-position: center;

        @media (max-width: 640px) {
          width: 40%;
        }
      }

      &::before {
        top: -30px;
      }

      &::after {
        bottom: -30px;
      }

      div:first-child {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 20px;
        align-items: center;
        padding: 1rem;
        overflow-x: auto;
      }

      div:last-child {
        text-align: center;
        padding: 1rem;

        strong {
          font-size: xx-large;
          padding-bottom: 1rem;

          @media (max-width: 640px) {
            font-size: x-large;
          }
        }

        p {
          padding: 0 1rem;

          @media (max-width: 640px) {
            font-size: smaller;
          }
        }
      }
    }
  </style>

  <div class="flex justify-center border-b-1">
    <div class="c-content my-1 text-center border-x border-vintage-ink">
      <nav class="text-xs text-gray-600" aria-label="パンくずリスト">
        <ol
          class="flex flex-nowrap items-center sm:justify-center justify-left line-clamp-1 text-nowrap pl-3 overflow-auto"
        >
          <li>
            <a href="/" class="underline text-link">Home</a>
          </li>
          <li class="before:content-['›'] before:mx-2 before:text-gray-400">
            <a href="/natural-therapy/herbs" class="underline text-link"
              >Reports</a
            >
          </li>
          <li
            class="before:content-['›'] before:mx-2 before:text-gray-400"
            aria-current="page"
          >
            {report.herbs.map((e) => e.slug).join("・")}の{
              report.processSlug
            }
          </li>
        </ol>
      </nav>
      <h1 class="font-bold">
        {report.herbs.map((e) => e.slug).join("・")}の{report.processSlug}
      </h1>
    </div>
  </div>

  <div
    class="c-content flex flex-col items-center p-7 my-1 space-y-5 border-x border-vintage-ink"
  >
    <article
      class="relative mt-4 bg-vintage-paper border border-vintage-ink outline-2 outline-vintage-ink outline-offset-2 rounded-md"
    >
      <header
        class="flex gap-1 justify-between absolute right-1 -top-7 w-full line-clamp-1 text-nowrap"
      >
        <h2 class="flex-1 pl-2">
          {report.herbs.map((e) => e.slug).join("・")}の{report.processSlug}の{report.usageSlug}
        </h2>
        <time datetime="">2025/03/05</time>
        <span>RD000000021</span>
      </header>
      <strong
        class="block w-64 py-2 mt-6 mb-4 m-auto border-2 border-dashed border-vintage-ink text-vintage-ink text-[3rem] text-center"
        >REPORT</strong
      >
      <section
        class="grid-line leading-12 border-y-1 border-vintage-ink text-vintage-ink"
      >
        <dl class="inline relative p-4 py-2 border-r">
          <dt class="inline absolute left-0 px-2 text-xs whitespace-nowrap">
            Herbs
          </dt><dd class="inline">
            {
              report.herbs.map((e) => (
                <a
                  href="/herbs"
                  class="text-link mr-2 last:mr-0 after:text-vintage-ink after:ml-2 after:content-['・'] last:after:content-none"
                >
                  {e.slug}
                </a>
              ))
            }
          </dd>
        </dl>
        <dl class="inline relative p-4 py-2 border-r">
          <dt class="inline absolute left-0 px-2 text-xs whitespace-nowrap">
            用途
          </dt><dd class="inline">お湯割り</dd>
        </dl>
        <dl class="inline relative p-4 py-2 border-r">
          <dt class="inline absolute left-0 px-2 text-xs whitespace-nowrap">
            構成要素
          </dt><dd class="inline">
            熱湯（200ml）・レモン果汁（10ml）・水（250ml）・ハチミツ（5g）
          </dd>
        </dl>
        <dl class="inline relative p-4 py-2 border-r">
          <dt class="inline absolute left-0 px-2 text-xs whitespace-nowrap">
            総合評価
          </dt><dd class="inline">
            ★★★★★ / {report.summary}
          </dd>
        </dl>
      </section>

      <div
        class="flex flex-col sm:flex-row mt-1 border-t-2 border-vintage-ink text-vintage-ink"
      >
        <section
          class="relative w-full border-r-0 sm:border-r-2 border-vintage-ink px-6 pt-10 pb-6"
        >
          <strong class="absolute top-2 left-2 text-sm">作り方</strong>
          <ul class="note list-decimal list-inside">
            <li>カップにカモミールドライ(2g)の花を入れる</li>
            <li>熱湯200mLを注ぐ</li>
            <li>フタをして5分蒸らす</li>
            <li>茶こしでこしてカップに注ぐ</li>
            <li>好みではちみつを加えて完成</li>
          </ul>
        </section>
        <section class="relative w-full px-6 pt-10 pb-6">
          <strong class="absolute top-2 left-2 text-sm">感想</strong>
          <p class="note">
            初めの数口、ゴボウらしいやや土っぽいがしつこくない、香ばしい風味。根菜らしいの優しい甘さ。飲みやすく感じる。飲み進めると少しえぐみや、薄い生臭さが目立ち始める。少量のレモン果汁だと却って生臭さが目立つ上、香ばしさも感じられなくなる。ショウガとの相性が良いか？
          </p>
          <ul class="py-4">
            <li
              class="flex items-center justify-start gap-2 w-full font-bold whitespace-nowrap"
            >
              <span>甘味</span>
              <progress
                class="w-full max-w-[150px] h-2"
                id="progress"
                value="3"
                max="10"></progress>
              <span>3/10</span>
            </li>
          </ul>
        </section>
      </div>
    </article>

    <aside class="pr">
      <div>
        <img src="/002.png" alt="" class="w-32 rounded" />
        <img src="/002.png" alt="" class="w-32 rounded" />
        <img src="/002.png" alt="" class="w-32 rounded" />
        <img src="/002.png" alt="" class="w-32 rounded" />
      </div>
      <div>
        <strong class="font-[Gravitas_One] text-xl">PR/Promotion</strong>
        <p>このPRは実際に購入・使用した商品を元に作成しています。</p>
        <p>
          また、当サイトは Amazon アソシエイトプログラムまたは iHerb
          アフィリエイトなどに参加しています。
        </p>
      </div>
    </aside>
  </div>
</Layout>
