---
import Layout from "../../layouts/Layout.astro";
import db from "../../../staticql.config.ts";
import type { Herb } from "../../types/herbs";
import Breadcrumb, { type BreadcrumbProps } from "../../components/Breadcrumb";
import { groupByKeyInitial } from "../../utils/array";

const herbs: Herb[] = await db.from("herbs").exec();

const names = [...new Set(herbs.map((h) => h.name.substring(0, 1)).sort())];
const groupByName = groupByKeyInitial(herbs, "name");

const scientifics = [
  ...new Set(herbs.map((h) => h.nameScientific.substring(0, 1)).sort()),
];
const groupByScientific = groupByKeyInitial(herbs, "nameScientific");

const breadCrumbItems: BreadcrumbProps["items"] = [
  { label: "Home", link: "/" },
  { label: "ハーブ一覧" },
];
---

<Layout>
  <div class="flex justify-center border-b-1">
    <div class="c-content my-1 text-center border-x border-vintage-ink">
      <Breadcrumb items={breadCrumbItems} />
      <h1 class="font-bold">ハーブ一覧</h1>
    </div>
  </div>

  <div
    class="c-content p-6 sm:p-10 my-1 border-x border-vintage-ink space-y-10"
  >
    <article>
      <h2 class="font-bold italic text-lg mb-4">ハーブ名一覧</h2>
      <div
        class="columns-1 sm:columns-2"
        style="column-rule: 1px solid var(--color-vintage-ink)"
      >
        {
          names.map((name) => (
            <section class="text-right">
              <div class="flex items-center gap-1 w-full after:border-b after:border-vintage-ink after:w-full font-bold">
                {name}
              </div>
              {groupByName[name].map((herb) => (
                <a href={`/herbs/${herb.slug}`} class="block hover:underline">
                  {herb.name}
                </a>
              ))}
            </section>
          ))
        }
      </div>
    </article>

    <article>
      <h2 class="font-bold italic text-lg mb-4">ハーブ学名一覧</h2>
      <div
        class="columns-1 sm:columns-2"
        style="column-rule: 1px solid var(--color-vintage-ink)"
      >
        {
          scientifics.map((scientific) => (
            <section class="text-right">
              <div class="flex items-center gap-1 w-full after:border-b after:border-vintage-ink after:w-full font-bold">
                {scientific}
              </div>
              {groupByScientific[scientific].map((herb) => (
                <a href={`/herbs/${herb.slug}`} class="block hover:underline">
                  {herb.nameScientific}
                </a>
              ))}
            </section>
          ))
        }
      </div>
    </article>
  </div>
</Layout>
