---
import Layout from "../../layouts/Layout.astro";
import db from "../../../staticql.config.ts";
import Breadcrumb, { type BreadcrumbProps } from "../../components/Breadcrumb";
import { groupByKeyInitial } from "../../utils/array";
import "../../styles/herbs/index.css";
import Seo from "../../components/Seo.astro";
import type { HerbsRecord } from "../../types/staticql-types";

const herbs: HerbsRecord[] = await db.from("herbs").exec();

const names = [...new Set(herbs.map((h) => h.name.substring(0, 1)).sort())];
const groupByName = groupByKeyInitial(herbs, "name");

const scientifics = [
  ...new Set(herbs.map((h) => h.nameScientific.substring(0, 1)).sort()),
];
const groupByScientific = groupByKeyInitial(herbs, "nameScientific");

const breadcrumb: BreadcrumbProps = {
  items: [
    { label: "Cauldi", link: `${Astro.site}` },
    { label: "ハーブ一覧", link: `${Astro.site}herbs` },
  ],
};
---

<Layout>
  <Seo
    slot="head"
    title="ハーブ一覧 | Cauldi - 和名・学名から探せる植物ガイド"
    description="Cauldiのハーブ一覧ページでは、和名・学名の両方から目的のハーブを探すことができます。植物の効能や使い方を知る第一歩に。"
    url=`${Astro.site}herbs`
    image=`${Astro.site}ogp/herbs.jpg`
    type="website"
    ldJson={{
      "@context": "https://schema.org",
      "@type": "ItemList",
      name: "ハーブ一覧",
      itemListElement: herbs.map((herb, index) => ({
        "@type": "ListItem",
        position: index + 1,
        name: `${herb.name}（${herb.nameScientific}）`,
        url: `${Astro.site}herbs/${herb.slug}`,
      })),
    }}
    breadcrumb={breadcrumb}
  />

  <div class="globalHeading">
    <div class="globalHeadingBody container">
      <Breadcrumb items={breadcrumb["items"]} />

      <h1 class="bold">ハーブ一覧</h1>
    </div>
  </div>

  <div class="content container">
    <article>
      <h2 class="headingLine">ハーブ名一覧</h2>
      <div class="index">
        {
          names.map((name) => (
            <section class="indexItem">
              <strong>{name}</strong>
              {groupByName[name].map((herb) => (
                <a href={`/herbs/${herb.slug}`}>{herb.name}</a>
              ))}
            </section>
          ))
        }
      </div>
    </article>

    <article>
      <h2 class="headingLine">ハーブ学名一覧</h2>
      <div class="index">
        {
          scientifics.map((scientific) => (
            <section class="indexItem">
              <strong>{scientific}</strong>
              {groupByScientific[scientific].map((herb) => (
                <a href={`/herbs/${herb.slug}`}>{herb.nameScientific}</a>
              ))}
            </section>
          ))
        }
      </div>
    </article>
  </div>
</Layout>
